In [2]:
import numpy as np

In [3]:
a = np.arange(11)**2

In [4]:
a

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100])

In [5]:
for i in a:
    print(i**(1/2))

0.0
1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0
10.0

In [6]:
students = np.array([['Alice','Beth','Cathy','Dorothy'],
[65,78,90,81],
[71,82,79,92]])

In [7]:
for i in students:
    print('i = ', i)

i =  ['Alice' 'Beth' 'Cathy' 'Dorothy']
i =  ['65' '78' '90' '81']
i =  ['71' '82' '79' '92']

In [8]:
for element in students.flatten():
    print(element)

Alice
Beth
Cathy
Dorothy
65
78
90
81
71
82
79
92

In [9]:
for element in students.flatten(order='F'):
    print(element)

Alice
65
71
Beth
78
82
Cathy
90
79
Dorothy
81
92

In [10]:
x = np.arange(12).reshape(3,4)
x

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [11]:
for i in np.nditer(x):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [12]:
for i in np.nditer(x, order = 'F'):
    print(i)

0
4
8
1
5
9
2
6
10
3
7
11

In [13]:
for i in np.nditer(x, order = 'F', flags = ['external_loop']):
    print(i)

[0 4 8]
[1 5 9]
[ 2  6 10]
[ 3  7 11]

In [14]:
for arr in np.nditer(x, op_flags = ['readwrite']):
    arr[...] = arr * arr

In [15]:
x

array([[  0,   1,   4,   9],
       [ 16,  25,  36,  49],
       [ 64,  81, 100, 121]])